.background{
    background: #111111;
    height: 740px;
    width: 100%;
    position: relative;
}
html{
    overflow: hidden;
}
.footer{
    height: 270px;
    width: 100%;
}
.background__boxlogin{
    width: 380px;
    height: 548px;
    background: #1f1f1f;
    position: absolute;
    left: 40%;
    top: 18%;
    padding: 60px 50px 20px;
}
h3{
    position: absolute;
    font-size: 22px;
    color: var(--white-color);
    top: 10%;
    left: 46.6%;
}
.login{
    display: flex;
    flex-direction: column;
}
.dienthoai,
.matkhau,
.button{
    height: 42px;
    width: 280px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 12px;
}
.dienthoai{
    margin-bottom: 16px;
}
.matkhau{
    margin-bottom: 32px;
}
.button{
    background: #FF6400;
    color: var(--white-color);
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 18px;
}
.button:hover{
    opacity: 0.8;
}
.quenmatkhau,
span{
    color: #4A4A4A;
    font-size: 14px;
    text-decoration: none;
}
span{
    position: relative;
    top: -11px;
    padding: 0 5px;
    background: #1f1f1f;
}
.text-area{
    text-align: center;
}   
.text-area p{
    border-top: 1px solid #4a4a4a;
    margin-bottom: 17px;
}
.btn button:nth-child(1){
    background: #3B5998;
    transition: 0.6s ease
}
.btn button:nth-child(2){
    background: #DD4B39;
    transition: 0.6s ease;
}
.btn button:nth-child(1):hover{
    background: #1f4696;
}
.btn button:nth-child(2):hover{
    background: #dd2e18;
}
.dangky{
    text-align: center;
}
.quenmatkhau:hover{
    color: #FF6400;
}
.chuacotaikhoan{
    color: #9b9b9b;
    font-size: 14px;
    text-decoration: none;
}

    
