.trangchu{
    color: #ff6500 !important;
}
.hbo:hover{
    color: #1A93F6 !important;
}
                        /*  slide ảnh quảng cáo */
.middlecontent{
    background: #111111;
    height: 3400px;
}
.thumbnail{
    margin: 0 auto;
    padding: 22px;
    width: 1100px;
    position: relative;
    z-index: 0;
}   
.textitem1{
    position: absolute;
    bottom: 110px;
    left: 36px;
    font-size: 30px;
    color: var(--white-color);
    z-index: 1;
    font-weight: bold;
}
.overlaythumbnail{
    position: absolute;
    background: var(--black-color);
    opacity: 0.6;
    width: 1140px;
    height: 600px;
    bottom: 0;
    z-index: 0;
}
.textitem1.paragraph,
.textitem1.paragraph2
{
    bottom: 80px;
    font-size: 18px;
    color: #9b9b9b;
    font-weight: 400;
}
.textitem1.paragraph2{
    bottom: 40px;
    color: var(--white-color);
}
.xemngaylink{
    position: absolute;
    bottom: 44px;
    right: 61px;
    font-size: 16px;
    color: var(--white-color);
    text-decoration: none;
    font-weight: bold;
    z-index: 3;
}
.arrow{
    border: solid var(--white-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    bottom: 49px;
    right: 47px;
    z-index: 3;
    cursor: pointer;
}
.buttonhinhchunhat{
    background: #ff6500;
    height: 39px;
    width: 128px;
    border-radius: 10px;
    position: absolute;
    bottom: 34px;
    right: 32px;
    z-index: 2;
    cursor: pointer;
    display: none;
    animation: growth 0.6s ease-in-out;
}
.xemngaylink:hover ~ .buttonhinhchunhat{
    display: block;
}
@keyframes growth{
    from{
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
                        /* Slide tất cả các phim */
.titlephim{
    color: var(--white-color);
    font-size: 22px;
}
.titlephim1{    
    display: block;
    margin-top: 35px;
    color: var(--white-color);
    font-size: 22px;
}
.slideshowphim  .image{
    border-radius: 5px;
    opacity: 0.9;
}
.slideshowcontainer{
    position: relative;
}
.image:hover{
    opacity: 1;
    cursor: pointer;
}
.tagvip,
.tagvip1,
.tagvip2,
.tagvip2__daidich,
.tagvip3,
.tagvip4,
.tagvip5,
.tagvip__daidich,
.tagvip1__daidich,
.tagvip2__daidich,
.tagvip4__daidich{
    width: 42.84px !important;
    height: 20px;
    position: relative;
    bottom: 260px;
    left: 10px;
}
.tencuaphim,
.tencuaphim1,
.tencuaphim2,
.tencuaphim3,
.tencuaphim4,
.tencuaphim5{
    position: relative;
    font-size: 16px;
    color: var(--white-color);
    text-decoration: none;
    bottom: 10px;
    display: block;
    transition: 0.6s ease;
}
.tencuaphim2__daidich,
.tencuaphim4__daidich{
    position: relative;
    font-size: 16px;
    color: var(--white-color);
    text-decoration: none;
    bottom: 30px;
    
}
.tencuaphim:hover,
.tencuaphim1:hover,
.tencuaphim2:hover,
.tencuaphim3:hover,
.tencuaphim4:hover,
.tencuaphim5:hover,
.tencuaphim2__daidich:hover,
.tencuaphim4__daidich:hover{
    color: #ff6500;
}
.tagvip3__daidich{
    position: relative;
    bottom: 260px;
    left: 10px;
}
.tagvip3{
    width: 96.66px !important;
    height: 20px;
}
.tagvip__daidich,
.tagvip1__daidich,
.tagvip2__daidich,
.tagvip3__daidich,
.tagvip4__daidich{
    width: 35.43px !important;
    height: 20px;
}
.tagvip2__daidich,
.tagvip4__daidich{
    bottom: 255px;
}
